body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    /* background-color: #2A2356; */
    overflow: hidden;
}

p, h2 {
    color: #E0D9F6; /* Contrast text color */
    font-family: 'Roboto Condensed', sans-serif;
    
    margin: 0;
    padding: 0;
}

#banner {
    background-color: #586AE2;
    color: #E0D9F6;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-family: 'Orbitron', sans-serif;
}

.idol-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 20px;
    padding: 5vh 10vw;
    justify-items: center;
    align-items: center;
}

.idol {
    position: relative;
    background-color: #E0D9F6; /* Pale lavender background for idols */
    overflow: hidden;
    border-radius: 15px;
    width: 80%;
    height: 60vh;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
    display: flex;
    justify-content: center;
    align-items: center;
}

.idol img, .idol iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.idol:hover {
    transform: scale(1.03); /* Slightly increase size on hover */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Increase shadow for depth */
    border-color: #6EcbF5; /* Light blue border color on hover */
}

.overlay {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #C252E1; /* Vibrant purple for overlay background */
    color: #E0D9F6; /* Contrast text color */
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.overlay:hover {
    background-color: #95deff; /* Change to a lighter blue on hover */
}

#footer {
    background-color: #586AE2;
    color: #E0D9F6;
    padding: 10px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

@media (max-width: 600px) {
    .idol-container {
        grid-template-columns: 1fr;
        padding: 5vh 5vw;
    }
    .idol {
        width: 90%;
        height: 50vh;
    }
}





video {
    position: fixed; /* Changed from absolute to fixed */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scaleX(-1); /* Mirrors the video */

    z-index: -1; /* Keeps video in the background */
  }
  
  section {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }
  
  .removed {
    display: none;
  }
  
  .invisible {
    opacity: 1;
  }
  
  .detectOnClick {
    position: relative;
    float: left;
    width: 48%;
    margin: 2% 1%;
    cursor: pointer;
  }
  .videoView {
    position: absolute;
    float: left;
    width: 80%;
    margin: 2% 1%;
    cursor: pointer;
    min-height: 500px;
  }
  
  .videoView p,
  .detectOnClick p {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #007f8b;
    color: #fff;
    border: 1px dashed rgba(255, 255, 255, 0.7);
    z-index: 2;
    margin: 0;
  }
  
  .highlighter {
    background: rgba(0, 255, 0, 0.25);
    border: 1px dashed #fff;
    z-index: 1;
    position: absolute;
  }
  
  .canvas {
    z-index: 1;
    position: absolute;
    pointer-events: none;
  }
  
  .output_canvas {
    position: absolute;

    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
  }
  
  .detectOnClick {
    z-index: 0;
    font-size: calc(8px + 1.2vw);
  }
  
  .detectOnClick img {
    width: 45vw;
  }
  .output {
    display: none;
    width: 100%;
    font-size: calc(8px + 1.2vw);
  }
  

  
  #stillImage, #animatedImage {
    position: fixed;
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%); /* Center the image exactly */
    width: auto;
    height: 120vh;
    z-index: 1;
  }
  

  /* Adjusted CSS for Mobile Responsiveness */

@media (max-width: 600px) {
  p, h2 {
    color: #473e62; /* Contrast text color */

    font-size: calc(20px + 2vw); /* Adjusts font size based on viewport width */
  }

  .idol-container {
      grid-template-columns: 1fr; /* Stacks idols vertically on smaller screens */
  }

  .idol {
      width: 100%; /* Full width for smaller screens */
      height: auto; /* Height adjusts to content */
  }

  .idol img, .idol iframe {
      width: 100%; /* Full width of the container */
      height: auto; /* Maintain aspect ratio */
  }

  #banner, #footer {
      padding: 15px;
      text-align: center;
      font-size: calc(12px + 2vw); /* Responsive font size */
  }

  .overlay {
      font-size: calc(8px + 2vw); /* Responsive font size */
      padding: 5px; /* Adjust padding for smaller screens */
  }

  #stillImage, #animatedImage {
    position: fixed;
    bottom: 0; /* Align at the bottom of the screen */
    left: 50%; /* Center horizontally */
    transform: translate(-50%); /* Center the image exactly */
    width: auto; /* Reduce width */
    height: 50%; /* Use 50% of the viewport height */
    z-index: 1;
}
}

