body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    background-image: url("/images/background1.jpg");
    background-size: cover; 
    background-repeat: repeat; 
    background-position: center; 
}

#banner {
    background-color: #FF80B4;
    color: #0d0d0d;
    padding: 15px;
    text-align: left;
    font-size: 24px;
    width: 100%;
    margin: 2 auto;
    border: 1px solid #0d0d0d;
    background-image: url('/images/dots.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 1%;
}

.idol-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-template-rows: auto; /* Auto row height */
    grid-gap: 20px;
    padding: 9vh 6vw;
    justify-items: center;
    align-items: center;
}

.idol {
    position: relative;
    background-color: #E0D9F6;
    overflow: hidden;
    width: auto;
    height:auto; /* Adjust as necessary */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.idol img, .idol iframe {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Change to contain */
}
.idol::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: -1%;
    background-image: url('/images/borders/purplepinkborder.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: 1;
}



.idol:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.overlay {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #C252E1; 
    background-image: url('/images/gradients/pinkorange.png');
    background-size: auto;
    background-repeat: no-repeat;
    color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease;
    border: 1px solid #0d0d0d;
    z-index: 2;
}

.overlay:hover {
    background-color: #95deff;
    background-image: url('/images/gradients/purple.png');
    color: #0d0d0d;
}

#footer {
    background-color: #586AE2;
    color: #E0D9F6;
    padding: 10px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}

@media (max-width: 600px) {
    .idol-container {
            grid-template-columns: 1fr; /* Single column on smaller screens */
        }
    }
    .idol {
        width: 90%;
    }


a {
    color: #f2f2f2;
    text-decoration: none; /* Remove underline */
}

a:hover {
    color: #0d0d0d;
}

/* Custom styling for the resize handle */
.ui-resizable-handle {
    background: #CCC;
    border: 1px solid #DDD;
    width: 10px;
    height: 10px;
    z-index: 2;
}

/* Positions for the resize handles */
.ui-resizable-se { bottom: 0; right: 0; } /* Bottom right corner */
.ui-resizable-sw { bottom: 0; left: 0; }  /* Bottom left corner */
.ui-resizable-ne { top: 0; right: 0; }    /* Top right corner */
.ui-resizable-nw { top: 0; left: 0; }     /* Top left corner */