body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #2A2356; /* Dark blue background for the full page */
}

#banner {
    background-color: #586AE2;
    color: #E0D9F6;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-family: 'Orbitron', sans-serif;
}

.idol-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 20px;
    padding: 5vh 10vw;
    justify-items: center;
    align-items: center;
}

.idol {
    position: relative;
    background-color: #E0D9F6; /* Pale lavender background for idols */
    overflow: hidden;
    border-radius: 15px;
    width: 80%;
    height: 60vh;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
}

.idol img, .idol iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.idol:hover {
    transform: scale(1.03); /* Slightly increase size on hover */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Increase shadow for depth */
    border-color: #6EcbF5; /* Light blue border color on hover */
}

.overlay {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #C252E1; /* Vibrant purple for overlay background */
    color: #E0D9F6; /* Contrast text color */
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.overlay:hover {
    background-color: #95deff; /* Change to a lighter blue on hover */
}

#footer {
    background-color: #586AE2;
    color: #E0D9F6;
    padding: 10px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

@media (max-width: 600px) {
    .idol-container {
        grid-template-columns: 1fr;
        padding: 5vh 5vw;
    }
    .idol {
        width: 90%;
        height: 50vh;
    }
}
